
<section id="vesibussi">
				<div class="container-fluid jtline">

  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3 reitti">
      <div class="linja">
        <img src="pix/bus-black.png" class="onprint"><img src="pix/bus.png" class="onscreen"></div>
        <h2>Kauppatori&mdash;Suomenlinna<em>via Lonna/Vallisaari 27.6.&mdash;16.8.</em></h2>
      </div>
   <div class="col-md-6 col-xs-12 col-md-offset-3 arki">
        <div class="cap capone">Kauppatorilta <em>From Market Square</em><span>Ma&ndash;pe <em>Mon&ndash;Fri</em></span></div><div class="cap captwo">Suomenlinnasta <em>From Suomenlinna</em><span>Ma&ndash;pe <em>Mon&ndash;Fri</em></span></div>
       
       <table class="aikataulu vesibussi&nbsp;mape"><tbody><tr><th class="col7 kauppatori lahto">Kauppa&shy;tori
					</th><th class="col7 lonna">Lonna
					</th><th class="col7 vallisaari">Valli&shy;saari
                </th><th class="col7 tykistolahti lahto">Tykist&ouml;&shy;lahti
                        </th><th class="col7 kunkku">Kuninkaan&shy;portti
                        </th><th class="col7 lonna">Lonna
				</th>
		   </tr><tr><td>&nbsp;</td>	
					<td>&nbsp;</td>		
					<td>&nbsp;</td>		
					<td>7:25</td>   
                    <td>7:30</td>
                    <td>&mdash;</td>        
				</tr><tr><td>8:00</td>	
					<td>&mdash;</td>		
					<td>&mdash;</td>		
					<td>8:25</td>   
                    <td>8:30</td>
                    <td>&mdash;</td>				
				</tr><tr><td>9:00</td>
		   			<td>&mdash;</td>
					<td>&mdash;</td>
					<td>9:25</td>
					<td>9:30</td>
					<td>&mdash;</td>
		   		</tr><tr><td>10:00</td>
					  <td>10:10</td>
					  <td>10:20</td>
					  <td>10:40</td>
					  <td>10:45</td>
					  <td>10:50</td>
		   </tr><tr><td>10:30</td>
		   		  <td>10:40</td>
				  <td>10:50</td>
				  <td>11:00</td>
				  <td>11:05</td>
				  <td>11:10</td>
		   </tr><tr><td>10:45</td>
		   		  <td>10:55</td>
				  <td>&mdash;</td>
				  <td>11:20</td>
				  <td>11:25</td>
				  <td>11:30</td>
		   </tr><tr><td>11:15</td>
				  <td>11:25</td>
				  <td>11:35</td>
				  <td>11:50</td>
				  <td>11:55</td>
				  <td>12:00</td>
		   </tr><tr><td>11:45</td>
				  <td>11:55</td>
				  <td>12:05</td>
				  <td>12:20</td>
				  <td>12:25</td>
				  <td>12:30</td>
		    </tr><tr><td>12:00</td>
				  <td>12:10</td>
				  <td>&mdash;</td>
				  <td>12:40</td>
				  <td>12:45</td>
		   		  <td>12:50</td>
		   </tr><tr><td>12:30</td>
				  <td>12:40</td>
				  <td>12:50</td>
				  <td>13:05</td>
				  <td>13:10</td>
				  <td>13:15</td>
		   </tr><tr><td>13:00</td>
				  <td>13:10</td>
				  <td>13:20</td>
				  <td>13:30</td>
				  <td>13:35</td>
		   		  <td>13:40</td>
		   </tr><tr><td>13:25</td>
				  <td>13:35</td>
				  <td>&mdash;</td>
				  <td>14:05</td>
				  <td>14:10</td>
				  <td>13:15</td>
	   </tr><tr><td>13:45</td>
				  <td>13:55</td>
				  <td>14:05</td>
				  <td>14:20</td>
				  <td>14:25</td>
				  <td>14:30</td>
		   </tr><tr><td>14:30</td>
				  <td>14:40</td>
				  <td>14:50</td>
				  <td>15:05</td>
				  <td>15:10</td>
				  <td>15:15</td>
		   </tr><tr><td>14:45</td>
				  <td>14:55</td>
				  <td>&mdash;</td>
				  <td>15:20</td>
				  <td>15:25</td>
				  <td>15:30</td>
		   </tr><tr> <td>15:15</td>
				  <td>15:25</td>
				  <td>15:35</td>
				  <td>15:50</td>
				  <td>15:55</td>
				  <td>16:00</td>
		 </tr><tr><td>15:45</td>
				  <td>15:55</td>
				  <td>16:05</td>
				  <td>16:20</td>
				  <td>16:25</td>
				  <td>16:30</td>
		   </tr><tr><td>16:00</td>
				  <td>16:10</td>
				  <td>&mdash;</td>
				  <td>16:40</td>
				  <td>16:45</td>
				  <td>16:50</td>
	    </tr><tr><td>16:30</td>
				  <td>16:40</td>
				  <td>16:50</td>
				  <td>17:05</td>
				  <td>17:10</td>
				  <td>17:15</td>
	   </tr><tr><td>17:00</td>
				  <td>17:10</td>
				  <td>17:20</td>
				  <td>17:35</td>
				  <td>17:40</td>
				  <td>17:45</td>
		    </tr><tr><td>17:15</td>
				  <td>17:25</td>
				  <td>&mdash;</td>
				  <td>17:50</td>
				  <td>17:55</td>
				  <td>18:00</td>
		</tr><tr><td>17:45</td>
				  <td>17:55</td>
				  <td>18:05</td>
				  <td>18:20</td>
				  <td>18:25</td>
				  <td>18:30</td>
	   </tr><tr><td>18:15</td>
				  <td>18:25</td>
				  <td>18:35</td>
				  <td>18:45</td>
				  <td>18:50</td>
				  <td>18:55</td>
		</tr><tr><td>19:00</td>
				  <td>19:10</td>
				  <td>&mdash;</td>
				  <td>19:25</td>
				  <td>19:30</td>
				  <td>19:35</td>
		   
		</tr><tr><td>20:00</td>
				  <td>20:10</td>
				  <td>&mdash;</td>
				  <td>20:25</td>
				  <td>20:30</td>
				  <td>20:35</td>
			   </tr><tr><td>21:00</td>
				  <td>21:10</td>
				  <td>&mdash;</td>
				  <td>21:25</td>
				  <td>21:30</td>
				  <td>21:35</td>
			   </tr><tr><td>22:00</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>22:25</td>
					<td>22:30</td>
					<td>22:35</td>
		   </tr><tr><td>23:00</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>23:25</td>
					<td>23:30</td>
					<td>23:35</td>
		    </tr><tr class="ei-su"><td>&mdash;</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>00:15</td>
					<td>00:20</td>
					<td>00:25</td>
						
				</tr></tbody></table><footer><div class="col-md-6 col-xs-12 col-md-offset-3">
	   <p class="legend"><span></span>&nbsp;Ei ma&mdash;ke <em>Not on Mon&mdash;Wed</em></p>
        </div></footer></div>
    <div class="col-md-6 col-xs-12 col-md-offset-3 viikkis">
        <div class="cap capone">Kauppatorilta <em>From Market Square</em><span>La&ndash;su <em>Sat&ndash;Sun</em></span></div><div class="cap captwo">Suomenlinnasta <em>From Suomenlinna</em><span>La&ndash;su <em>Sat&ndash;Sun</em></span></div>
<table class="aikataulu vesibussi lasu"><tbody><tr><th class="col7 kauppatori lahto">Kauppa&shy;tori
					</th><th class="col7 lonna">Lonna
					</th><th class="col7 vallisaari">Valli&shy;saari
                </th><th class="col7 tykistolahti lahto">Tykist&ouml;&shy;lahti
                        </th><th class="col7 kunkku">Kuninkaan&shy;portti
                        </th><th class="col7 lonna">Lonna
				</th>
	</tr><tr><td>9:00</td>
		   			<td>&mdash;</td>
					<td>&mdash;</td>
					<td>9:25</td>
					<td>9:30</td>
					<td>&mdash;</td>
		   		</tr><tr><td>10:00</td>
					  <td>10:10</td>
					  <td>10:20</td>
					  <td>10:40</td>
					  <td>10:45</td>
					  <td>10:50</td>
		   </tr><tr><td>10:30</td>
		   		  <td>10:40</td>
				  <td>10:50</td>
				  <td>11:00</td>
				  <td>11:05</td>
				  <td>11:10</td>
		   </tr><tr><td>10:45</td>
		   		  <td>10:55</td>
				  <td>&mdash;</td>
				  <td>11:20</td>
				  <td>11:25</td>
				  <td>11:30</td>
		   </tr><tr><td>11:15</td>
				  <td>11:25</td>
				  <td>11:35</td>
				  <td>11:50</td>
				  <td>11:55</td>
				  <td>12:00</td>
		   </tr><tr><td>11:45</td>
				  <td>11:55</td>
				  <td>12:05</td>
				  <td>12:20</td>
				  <td>12:25</td>
				  <td>12:30</td>
		    </tr><tr><td>12:00</td>
				  <td>12:10</td>
				  <td>&mdash;</td>
				  <td>12:40</td>
				  <td>12:45</td>
		   		  <td>12:50</td>
		   </tr><tr><td>12:30</td>
				  <td>12:40</td>
				  <td>12:50</td>
				  <td>13:05</td>
				  <td>13:10</td>
				  <td>13:15</td>
		   </tr><tr><td>13:00</td>
				  <td>13:10</td>
				  <td>13:20</td>
				  <td>13:30</td>
				  <td>13:35</td>
		   		  <td>13:40</td>
		   </tr><tr><td>13:25</td>
				  <td>13:35</td>
				  <td>&mdash;</td>
				  <td>14:05</td>
				  <td>14:10</td>
				  <td>13:15</td>
	   </tr><tr><td>13:45</td>
				  <td>13:55</td>
				  <td>14:05</td>
				  <td>14:20</td>
				  <td>14:25</td>
				  <td>14:30</td>
		   </tr><tr><td>14:30</td>
				  <td>14:40</td>
				  <td>14:50</td>
				  <td>15:05</td>
				  <td>15:10</td>
				  <td>15:15</td>
		   </tr><tr><td>14:45</td>
				  <td>14:55</td>
				  <td>&mdash;</td>
				  <td>15:20</td>
				  <td>15:25</td>
				  <td>15:30</td>
		   </tr><tr> <td>15:15</td>
				  <td>15:25</td>
				  <td>15:35</td>
				  <td>15:50</td>
				  <td>15:55</td>
				  <td>16:00</td>
		 </tr><tr><td>15:45</td>
				  <td>15:55</td>
				  <td>16:05</td>
				  <td>16:20</td>
				  <td>16:25</td>
				  <td>16:30</td>
		   </tr><tr><td>16:00</td>
				  <td>16:10</td>
				  <td>&mdash;</td>
				  <td>16:40</td>
				  <td>16:45</td>
				  <td>16:50</td>
	    </tr><tr><td>16:30</td>
				  <td>16:40</td>
				  <td>16:50</td>
				  <td>17:05</td>
				  <td>17:10</td>
				  <td>17:15</td>
	   </tr><tr><td>17:00</td>
				  <td>17:10</td>
				  <td>17:20</td>
				  <td>17:35</td>
				  <td>17:40</td>
				  <td>17:45</td>
		    </tr><tr><td>17:15</td>
				  <td>17:25</td>
				  <td>&mdash;</td>
				  <td>17:50</td>
				  <td>17:55</td>
				  <td>18:00</td>
		</tr><tr><td>17:45</td>
				  <td>17:55</td>
				  <td>18:05</td>
				  <td>18:20</td>
				  <td>18:25</td>
				  <td>18:30</td>
	   </tr><tr><td>18:15</td>
				  <td>18:25</td>
				  <td>18:35</td>
				  <td>18:45</td>
				  <td>18:50</td>
				  <td>18:55</td>
		</tr><tr><td>19:00</td>
				  <td>19:10</td>
				  <td>&mdash;</td>
				  <td>19:25</td>
				  <td>19:30</td>
				  <td>19:35</td>
		   
		</tr><tr><td>20:00</td>
				  <td>20:10</td>
				  <td>&mdash;</td>
				  <td>20:25</td>
				  <td>20:30</td>
				  <td>20:35</td>
			   </tr><tr class="ei-su"><td>21:00</td>
				  <td>21:10</td>
				  <td>&mdash;</td>
				  <td>21:25</td>
				  <td>21:30</td>
				  <td>21:35</td>
			   </tr><tr class="ei-su"><td>22:00</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>22:25</td>
					<td>22:30</td>
					<td>22:35</td>
		   </tr><tr class="ei-su"><td>23:00</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>23:25</td>
					<td>23:30</td>
					<td>23:35</td>
		    </tr><tr class="ei-su"><td>&mdash;</td>
					<td>&mdash;</td>
					<td>&mdash;</td>
					<td>00:15</td>
					<td>00:20</td>
					<td>00:25</td>
						
				</tr></tbody></table><footer><div class="col-md-6 col-xs-12 col-md-offset-3">
          <p class="legend"><span></span>&nbsp;Ei sunnuntaisin <em>Not on Sundays</em></p>
        <p class="matka-aika">Matka-aika v&auml;lill&auml; Kauppatori&mdash;Suomenlinna on 20&mdash;30 minuuttia reitist&auml; riippuen <em>The journey from the Market Square to Suomenlinna takes about 20&mdash;30 minutes (depending on stops during the journey)</em>
          <a href="https://www.jt-line.fi/suomenlinna-vallisaari-lonna/lippujen-hinnat/" rel="noopener" target="_blank"> Lippujen hinnat</a></p>
       </div></footer></div>
      
      
    
  </div>
	</div>
    
	<footer><div class="col-md-6 col-xs-12 col-md-offset-3">
	        <span>&copy; 2020 mysuomenlinna.fi &amp; jt-line.fi (data)</span>
					</div>
	</footer>

</section>